<div class="w3-top">
  <div class="w3-bar w3-red w3-card w3-left-align w3-large">
    <a [routerLink]="['home']" [routerLinkActive]="'is-active'" class="w3-bar-item w3-button w3-padding-large">Home</a>
    <a [routerLink]="['flight-plans']" [routerLinkActive]="'is-active'" class="w3-bar-item w3-button w3-hide-small w3-padding-large">Flight Plans</a>
    <a [routerLink]="['administration']" [routerLinkActive]="'is-active'" class="w3-bar-item w3-button w3-hide-small w3-padding-large">Administration</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a [routerLink]="['home']" [routerLinkActive]="'is-active'" class="w3-bar-item w3-button w3-padding-large">Home</a>
    <a [routerLink]="['flight-plans']" [routerLinkActive]="'is-active'" class="w3-bar-item w3-button w3-padding-large">Flight Plans</a>
    <a [routerLink]="['administration']" [routerLinkActive]="'is-active'" class="w3-bar-item w3-button w3-padding-large">Administration</a>
  </div>
</div>
