<div class="w3-top background">
  <p-menubar [model]="items">
    <ng-template pTemplate="end">
      <div class="d-inline-flex align-items-center">
        <span *ngIf="user" pInputText>
          <i class="pi pi-user"></i>
          Logged as:
          <strong>
            {{ user?.firstName }}
          </strong>
        </span>
        <button *ngIf="!isUserLoggedIn" pButton label="Log In" icon="pi pi-sign-in" [routerLink]="['/login']"></button>
        <button *ngIf="isUserLoggedIn" pButton label="Log Out" icon="pi pi-sign-out" (click)="logOut()"></button>
      </div>
    </ng-template>
  </p-menubar>
</div>
