.p-card .p-component {
  width: 100%;
  display: inline-grid;
  align-content: center;
}

.p-card-title {
  text-align: center;
}

.p-card-footer {
  display: inline-flex;
  justify-content: center;
  width: 100%;
}
