<header class="w3-container w3-indigo w3-center" style="padding:64px 16px">
  <h1 class="w3-margin w3-jumbo">FlightPlanR</h1>
  <p class="w3-xlarge">Template was created by
    <a href="https://www.w3schools.com/" target="_blank">
      W3Schools
    </a>
  </p>
</header>

<div class="w3-row-padding w3-padding-64 w3-container w3-center">
  <div class="w3-content">
    <div class="w3-one">
      <h1>Project</h1>
      <h5 class="w3-padding-32">
        I'm Darek Gawęda and let me introduce you my training app - FlightPlanR.
        App was created due to one reason - LEARNING.
      </h5>

      <p>
        It's simple application performing basic Crud operations with Flight Plans. Basicly main clients are passangers but pilots and other members can still find this application useful.
        If you want to check more info about me check my <a href="#" target="_blank" class="fw-bold">LinkedIn</a> or <a href="#" target="_blank" class="fw-bold">GitHub</a>.
      </p>
    </div>
  </div>
</div>
